@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
html{
  
    line-height: none !important;
}
body{
    font-family: 'Roboto', arial, sans-serif;

}
.home-logo{
    padding-left: 3px;
    margin: 9px;
}

.home-find button{
    border: none;
    background:
    transparent;
    padding: 12px;
    height: 48px;
    width: 48px;
}
.home-find img{
    margin-bottom: 5px;
}

.contenido-bottom{
    margin-top: 8px;
    margin-bottom: 21px;
    line-height: 1.2;
}
.contenido-bottom a{
    font-size: 0.78rem;
}
.contenido-logo{
    padding-right: 0px;
    margin-right: 0px;
    padding-left: 11px !important;

}
.contenido-title{
    margin-bottom: 0px;
    padding-left: 4px !important;
    padding-right: 0px !important;

}
.contenido-title span{
    font-size: 0.75rem;
    font-family: 'Roboto', sans-serif;
}
h3{
    font-size: 0.9rem !important;
    font-weight: bold;
    margin-bottom: 0px !important;
    line-height: 1.25;
    font-family: 'Roboto', sans-serif;
}
.anuncio{
padding: 2px 4px;
border-radius: 2px;
font-size: 1.2rem;
color:
#fff;
background-color:
#e6bc27;
}
.contenido-burger{
    margin-top: 9px;
margin-left: 4px;
}
.menu-icon{
    font-size: 0.7rem;
    padding-bottom: 5px;
    background-color: white;
    padding-top: 7px;
}
.menu-icon img{
    filter: invert(50%); 
}
.xl-content{
    margin-top: 55px;
}
.xl-lateral-bar{
background-color: #f5f5f5;
height: 100vh;
width: 240px;

}
.lg-header{
    box-shadow: 0 0 4px 4px #f3f3f3;
}
.xl-lateral-bar .list-group-item
{
    border: none;
    height: 40px;
font-size: 14px;
font-weight: 400;
color:#111111;
padding: 0 24px;
background-color: inherit;
}
.xl-lateral-bar .list-group-item.active {
    background-color: inherit;
    color: inherit;
    pointer-events: none;
    font-weight: 700;
}
.xl-lateral-bar .list-group {
    padding: 12px 0;
    border-bottom: 2px solid 
#eeeeee;
}
a{
    text-decoration: none;
}
