@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
html{
  
    line-height: none !important;
}
.home-logo{
    padding-left: 3px;
    margin: 9px;
}

.home-find button{
    border: none;
    background:
    transparent;
    padding: 12px;
    height: 48px;
    width: 48px;
}
.home-find img{
    margin-bottom: 5px;
}

.contenido-bottom{
    margin-top: 8px;
    margin-bottom: 21px;
    line-height: 1.2;
}
.contenido-bottom a{
    font-size: 0.78rem;
}
.contenido-logo{
    padding-right: 0px;
    margin-right: 0px;
    padding-left: 11px !important;

}
.contenido-title{
    margin-bottom: 0px;
    padding-left: 4px !important;
    padding-right: 0px !important;

}
.contenido-title span{
    font-size: 0.75rem;
    font-family: 'Roboto', sans-serif;
}
h3{
    font-size: 0.9rem !important;
    font-weight: bold;
    margin-bottom: 0px !important;
    line-height: 1.25;
    font-family: 'Roboto', sans-serif;
}
.anuncio{
padding: 2px 4px;
border-radius: 2px;
font-size: 1.2rem;
color:
#fff;
background-color:
#e6bc27;
}
.contenido-burger{
    margin-top: 9px;
margin-left: 4px;
}
.menu-icon{
    font-size: 0.7rem;
    padding-bottom: 5px;
    background-color: white;
    padding-top: 7px;
}
.menu-icon img{
    filter: invert(50%); 
}